.header {
    background-color: #EEEFF1;
}



.container {
    max-width: 1120px;
    margin: 0 auto;
}

.nav {
    padding-top: 79px;
    padding-bottom: 162px;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.nav_link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-family: Roboto;
    letter-spacing: 10%;
}


.nav_link:hover {
    font-weight: 500;
    color: #34547A;
    background-color: #c9d1db;
}

.main {
    padding-bottom: 141px;
}

.main_title {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 48px;
}

.main_descr {
    margin-top: 60px;
    width: 540px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.main_btn {
    width: 225px;
    height: 65px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: #34547A;
    margin-top: 65px;
    pointer-events: auto;
}

.main_btn:hover {
    color: #34547A;
    background-color: white;
}

.about_me {
    background-color: #F9F9F9;
    padding-top: 112px;
}

.about_me_cover {
    width: 540px;
}

.about_me-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
}

.about_me-descr {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0%;
    text-align: center;
    color: #727272;
    margin-bottom: 100px;

}

.projects {
    padding: 100px 0;
}
.projects_cover {
    display: flex;
    justify-content: space-between;
}

.project_item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.project_icon {
    width: 50px;
    height: 50px;
}

.project_descr {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.project_number {
    font-family: Roboto;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;
}

.project_name {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0%;

}